<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="login"  method="POST">
        {%csrf_token%}
        <input type="text" name="username"><br><br>
        <input type="password" name="password"><br><br>
        <input type="submit" name="submit"><br>

    </form>
    <div>
        <h2>{%for i in messages%}
            {{i}}
            {%endfor%}
        </h2>
    </div>
</body>
</html>